In [1]:
import numpy as np
import pandas as pd

import zipfile
import pickle

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

# Загрузка и обработка данных

In [2]:
myzip = zipfile.ZipFile("D:\\ID\\Course\\MADE\\2.Adv_ML\\HW\\chgk.zip")
print("Содержание zip файла:")
for file_name in myzip.namelist():
    print(file_name)

Zip file content:
players.pkl
results.pkl
tournaments.pkl

### Загрузка tournaments.pkl

In [4]:
data_tour = pd.DataFrame(pickle.load(myzip.open('tournaments.pkl', 'r'))).T
data_tour["year"] = data_tour['dateStart'].apply(lambda x: int(x[:4]) if x is not None else None)
data_tour['sum_questionQty'] = data_tour['questionQty'].apply(lambda x: sum(x.values()) if x is not None else 0)
train_tour = data_tour[data_tour['year']==2019]
test_tour = data_tour[data_tour['year']==2020]
train_tour = train_tour[["id", "name", "sum_questionQty"]]
test_tour = test_tour[["id", "name", "sum_questionQty"]]
print("Выборка соревнований для обучения:", train_tour.shape)
display(train_tour.head(2))

Выборка соревнований для обучения: (687, 3)

        id                                   name  sum_questionQty
4772  4772  Синхрон северных стран. Зимний выпуск               36
4973  4973               Балтийский Берег. 3 игра               36

In [5]:
print("Выборка соревнований для теста:", test_tour.shape)
display(test_tour.head(2))

Выборка соревнований для теста: (418, 3)

        id                name  sum_questionQty
4628  4628          Семь сорок               36
4957  4957  Синхрон Биркиркары               39

### Загрузка players.pkl

In [6]:
players = pd.DataFrame(pickle.load(myzip.open('players.pkl', 'r'))).T
print("Общее количество участников:", players.shape)
display(players.sample(2))

Общее количество участников: (204063, 4)

            id       name  patronymic  surname
136752  136752  Екатерина     Юрьевна   Клюева
147704  147704    Алексей  Михайлович  Неганов

### Загрузка results.pkl

In [8]:
results = pickle.load(myzip.open('results.pkl', 'r'))

In [28]:
tournament_list = test_tour["id"].to_list() + train_tour["id"].to_list()
data_result = pd.DataFrame([])
for tour in tournament_list:
    if tour not in results.keys():
        print(f"Не найдено соревнование № {tour} в results.pkl")
        break
    cur_tour_df = pd.DataFrame(results[tour])
    cur_tour_df["tournament"] = tour
    data_result = pd.concat([data_result, cur_tour_df])

In [31]:
data_result.shape

(109721, 10)